<div class="container__big-card">
  <div class="container__big-card-photo">
    <img
      src="https://images.pexels.com/photos/4887152/pexels-photo-4887152.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt=""
      width="100%"
      height="260px"
    />
  </div>
  <div class="container__big-card-content">
  <div class="container__big-card-title">
    <h1>The Bright Future of Web 3.0?</h1>
  </div>
  <div class="container__big-card-description">
    <p>
      The standard chunk of Lorem Ipsum used since the 1500s is reproduced below
      for those interested. Sections 1.10.32 and 1.10.33 from.
    </p>
    <button>READ MORE</button>
</div>  
</div>
</div>
