<div class="container__news-card">
  <div class="container__news-card-title">
    <h1>New</h1>
  </div>
  <div class="container__news-card-content">
    <h1>Hydrogen VS Eletric Cars</h1>
    <p>Will hydrogen-fueled cars ever catch up to EVs?</p>
    <hr />
    <div class="container__news-card-content">
      <h1>Hydrogen VS Eletric Cars</h1>
      <p>Will hydrogen-fueled cars ever catch up to EVs?</p>
      <hr />
    <div class="container__news-card-content">
    <h1>Hydrogen VS Eletric Cars</h1>
    <p>Will hydrogen-fueled cars ever catch up to EVs?</p>
    <hr />
    </div>
    </div>
  </div>
</div>
