.container__menu-bar >ul >li{
    color: #5D5F79;
    margin-right: 15px;
    
    /* flex-direction: row; */
    /* border: 1px solid; */
    
}

.container__menu-bar >ul{
    /* flex: auto; */
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    
    list-style: none;
    flex-direction: row;
    justify-content: right;
    border: 1px solid;
}    